@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:auto;
  background-image: url("img/dream.jpg");
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#ff006e;
  text-emphasis: strong
}

.lead {
	color:#0094ff;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:80%;
}

.panel {
    text-align: center;
    grid-column-align: center;
    grid-row-align: center;
}

.input[type="radio"]:not(:checked) + label {
    color: #ff006e;
}

.input[type="radio"]:checked + label {
    color: #808080;
}
  